<div class="row variablerow">
    <div class="col-md-6 namecol">
        <p class="h4">Dataset info</p>
        <table class="stats" style="margin-left: 1em;">
            <tbody>
            <tr>
                <th>Number of variables</th>
                <td>{{ values['nvar'] }}</td>
            </tr>
            <tr>
                <th>Number of observations</th>
                <td>{{ values['n'] }}</td>
            </tr>
            <tr>
                <th>Total Missing (%)</th>
                <td>{{ values['total_missing'] }}</td>
            </tr>
            <tr>
                <th>Total size in memory</th>
                <td>{{ values['memsize'] }}</td>
            </tr>
            <tr>
                <th>Average record size in memory</th>
                <td>{{ values['recordsize'] }}</td>
            </tr>
            <tr>
                <th>Accuracy Index (%)</th>
                <td>{{ values['accuracy_idx'] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-6 namecol">
        <p class="h4">Variables types</p>
        <table class="stats" style="margin-left: 1em;">
            <tbody>
            <tr>
                <th>Numeric</th>
                <td>{{ values['NUM'] }}</td>
            </tr>
            <tr>
                <th>Categorical</th>
                <td>{{ values['CAT'] }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ values['DATE'] }}</td>
            </tr>
            <tr>
                <th>Text (Unique)</th>
                <td>{{ values['UNIQUE'] }}</td>
            </tr>
            <tr>
                <th>Rejected</th>
                <td>{{ values['REJECTED'] }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="col-md-12" style="padding-left: 1em;">
        <script>
            function btn() {
                var items=document.getElementsByClassName("list-unstyled")[0];
                if (items.style.display==="block") {items.style.display="none";}
                else {items.style.display="block";}
            };
        </script>
        <p class="h4" onclick="btn()">Warnings</p>
        <ul class="list-unstyled">{{ messages }}</ul>
    </div>
</div>
